<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csj.gold.dao.single.ProductTransactionsRuleMapper" >
  <resultMap id="BaseResultMap" type="com.csj.gold.model.ProductTransactionsRule" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tra_max_num" property="traMaxNum" jdbcType="BIGINT" />
    <result column="tra_min_num" property="traMinNum" jdbcType="INTEGER" />
    <result column="tra_add_num" property="traAddNum" jdbcType="INTEGER" />
    <result column="tra_direction" property="traDirection" jdbcType="INTEGER" />
    <result column="prouduct_id" property="prouductId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="is_forbidden" property="isForbidden" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tra_max_num, tra_min_num, tra_add_num, tra_direction, prouduct_id, create_date, 
    create_user, update_date, update_user, is_del, is_forbidden,version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product_transactions_rule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByParameters" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from product_transactions_rule
    where 1 = 1
    <if test="parameters!=null">
    <if test="parameters.traMaxNum != null" >
        and tra_max_num = #{parameters.traMaxNum,jdbcType=BIGINT}
      </if>
      <if test="parameters.traMinNum != null" >
        and tra_min_num = #{parameters.traMinNum,jdbcType=INTEGER},
      </if>
      <if test="parameters.traAddNum != null" >
        and tra_add_num = #{parameters.traAddNum,jdbcType=INTEGER}
      </if>
      <if test="parameters.traDirection != null" >
        and tra_direction = #{parameters.traDirection,jdbcType=INTEGER}
      </if>
      <if test="parameters.prouductId != null" >
        and prouduct_id = #{parameters.prouductId,jdbcType=BIGINT}
      </if>
      <if test="parameters.createDate != null" >
        and create_date = #{parameters.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="parameters.createUser != null" >
        and create_user = #{parameters.createUser,jdbcType=BIGINT}
      </if>
      <if test="parameters.updateDate != null" >
        and update_date = #{parameters.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="parameters.updateUser != null" >
        and update_user = #{parameters.updateUser,jdbcType=BIGINT}
      </if>
      <if test="parameters.isDel != null" >
        and is_del = #{parameters.isDel,jdbcType=INTEGER}
      </if>
      <if test="parameters.isForbidden != null" >
        and is_forbidden = #{parameters.isForbidden,jdbcType=INTEGER}
      </if>
    </if>
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update product_transactions_rule
    set is_del = 1 , version = version + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="forbiddenByPrimaryKey" parameterType="java.lang.Long" >
    update product_transactions_rule
    set is_forbidden = 1 , version = version + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.csj.gold.model.ProductTransactionsRule" >
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into product_transactions_rule (id, tra_max_num, tra_min_num, 
      tra_add_num, tra_direction, prouduct_id, 
      create_date, create_user, update_date, 
      update_user, is_del, is_forbidden
      )
    values (#{id,jdbcType=BIGINT}, #{traMaxNum,jdbcType=BIGINT}, #{traMinNum,jdbcType=INTEGER}, 
      #{traAddNum,jdbcType=INTEGER}, #{traDirection,jdbcType=INTEGER}, #{prouductId,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=BIGINT}, #{isDel,jdbcType=INTEGER}, #{isForbidden,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.csj.gold.model.ProductTransactionsRule" >
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into product_transactions_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="traMaxNum != null" >
        tra_max_num,
      </if>
      <if test="traMinNum != null" >
        tra_min_num,
      </if>
      <if test="traAddNum != null" >
        tra_add_num,
      </if>
      <if test="traDirection != null" >
        tra_direction,
      </if>
      <if test="prouductId != null" >
        prouduct_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="isForbidden != null" >
        is_forbidden,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="traMaxNum != null" >
        #{traMaxNum,jdbcType=BIGINT},
      </if>
      <if test="traMinNum != null" >
        #{traMinNum,jdbcType=INTEGER},
      </if>
      <if test="traAddNum != null" >
        #{traAddNum,jdbcType=INTEGER},
      </if>
      <if test="traDirection != null" >
        #{traDirection,jdbcType=INTEGER},
      </if>
      <if test="prouductId != null" >
        #{prouductId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isForbidden != null" >
        #{isForbidden,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csj.gold.model.ProductTransactionsRule" >
    update product_transactions_rule
    <set >
      <if test="traMaxNum != null" >
        tra_max_num = #{traMaxNum,jdbcType=BIGINT},
      </if>
      <if test="traMinNum != null" >
        tra_min_num = #{traMinNum,jdbcType=INTEGER},
      </if>
      <if test="traAddNum != null" >
        tra_add_num = #{traAddNum,jdbcType=INTEGER},
      </if>
      <if test="traDirection != null" >
        tra_direction = #{traDirection,jdbcType=INTEGER},
      </if>
      <if test="prouductId != null" >
        prouduct_id = #{prouductId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isForbidden != null" >
        is_forbidden = #{isForbidden,jdbcType=INTEGER},
      </if>
      version = version + 1
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csj.gold.model.ProductTransactionsRule" >
    update product_transactions_rule
    set tra_max_num = #{traMaxNum,jdbcType=BIGINT},
      tra_min_num = #{traMinNum,jdbcType=INTEGER},
      tra_add_num = #{traAddNum,jdbcType=INTEGER},
      tra_direction = #{traDirection,jdbcType=INTEGER},
      prouduct_id = #{prouductId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=INTEGER},
      is_forbidden = #{isForbidden,jdbcType=INTEGER},
      version = version + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>