<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csj.gold.dao.single.PushMessageHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.csj.gold.model.PushMessageHistory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="android_title" property="androidTitle" jdbcType="VARCHAR" />
    <result column="ios_title" property="iosTitle" jdbcType="VARCHAR" />
    <result column="android_contant" property="androidContant" jdbcType="VARCHAR" />
    <result column="ios_contant" property="iosContant" jdbcType="VARCHAR" />
    <result column="send_to_android" property="sendToAndroid" jdbcType="INTEGER" />
    <result column="send_to_ios" property="sendToIos" jdbcType="INTEGER" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="is_forbidden" property="isForbidden" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, android_title, ios_title, android_contant, ios_contant, send_to_android, send_to_ios, 
    send_time, create_date, create_user, update_date, update_user, is_del, is_forbidden, 
    version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from push_message_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByParameters" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from push_message_history
    where 1 = 1
    <if test="parameters!=null">
    <if test="parameters.androidTitle != null" >
        and android_title = #{parameters.androidTitle,jdbcType=VARCHAR}
      </if>
      <if test="parameters.iosTitle != null" >
        and ios_title = #{parameters.iosTitle,jdbcType=VARCHAR}
      </if>
      <if test="parameters.androidContant != null" >
        and android_contant = #{parameters.androidContant,jdbcType=VARCHAR}
      </if>
      <if test="parameters.iosContant != null" >
        and ios_contant = #{parameters.iosContant,jdbcType=VARCHAR}
      </if>
      <if test="parameters.sendToAndroid != null" >
        and send_to_android = #{parameters.sendToAndroid,jdbcType=INTEGER}
      </if>
      <if test="parameters.sendToIos != null" >
        and send_to_ios = #{parameters.sendToIos,jdbcType=INTEGER}
      </if>
      <if test="parameters.sendTime != null" >
        and send_time = #{parameters.sendTime,jdbcType=TIMESTAMP}
      </if>
      <if test="parameters.createDate != null" >
        and create_date = #{parameters.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="parameters.createUser != null" >
        and create_user = #{parameters.createUser,jdbcType=BIGINT}
      </if>
      <if test="parameters.updateDate != null" >
        and update_date = #{parameters.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="parameters.updateUser != null" >
        and update_user = #{parameters.updateUser,jdbcType=BIGINT}
      </if>
      <if test="parameters.isDel != null" >
        and is_del = #{parameters.isDel,jdbcType=INTEGER}
      </if>
      <if test="parameters.isForbidden != null" >
        and is_forbidden = #{parameters.isForbidden,jdbcType=INTEGER}
      </if>
      <if test="parameters.version != null" >
        and version = #{parameters.version,jdbcType=INTEGER}
      </if>
      </if>
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update push_message_history
    set is_del = 1 , version = version + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="forbiddenByPrimaryKey" parameterType="java.lang.Long" >
    update push_message_history
    set is_forbidden = 1 , version = version + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.csj.gold.model.PushMessageHistory" >
    insert into push_message_history (id, android_title, ios_title, 
      android_contant, ios_contant, send_to_android, 
      send_to_ios, send_time, create_date, 
      create_user, update_date, update_user, 
      is_del, is_forbidden, version
      )
    values (#{id,jdbcType=BIGINT}, #{androidTitle,jdbcType=VARCHAR}, #{iosTitle,jdbcType=VARCHAR}, 
      #{androidContant,jdbcType=VARCHAR}, #{iosContant,jdbcType=VARCHAR}, #{sendToAndroid,jdbcType=INTEGER}, 
      #{sendToIos,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}, 
      #{isDel,jdbcType=INTEGER}, #{isForbidden,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.csj.gold.model.PushMessageHistory" >
    insert into push_message_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="androidTitle != null" >
        android_title,
      </if>
      <if test="iosTitle != null" >
        ios_title,
      </if>
      <if test="androidContant != null" >
        android_contant,
      </if>
      <if test="iosContant != null" >
        ios_contant,
      </if>
      <if test="sendToAndroid != null" >
        send_to_android,
      </if>
      <if test="sendToIos != null" >
        send_to_ios,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="isForbidden != null" >
        is_forbidden,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="androidTitle != null" >
        #{androidTitle,jdbcType=VARCHAR},
      </if>
      <if test="iosTitle != null" >
        #{iosTitle,jdbcType=VARCHAR},
      </if>
      <if test="androidContant != null" >
        #{androidContant,jdbcType=VARCHAR},
      </if>
      <if test="iosContant != null" >
        #{iosContant,jdbcType=VARCHAR},
      </if>
      <if test="sendToAndroid != null" >
        #{sendToAndroid,jdbcType=INTEGER},
      </if>
      <if test="sendToIos != null" >
        #{sendToIos,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isForbidden != null" >
        #{isForbidden,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csj.gold.model.PushMessageHistory" >
    update push_message_history
    <set >
      <if test="androidTitle != null" >
        android_title = #{androidTitle,jdbcType=VARCHAR},
      </if>
      <if test="iosTitle != null" >
        ios_title = #{iosTitle,jdbcType=VARCHAR},
      </if>
      <if test="androidContant != null" >
        android_contant = #{androidContant,jdbcType=VARCHAR},
      </if>
      <if test="iosContant != null" >
        ios_contant = #{iosContant,jdbcType=VARCHAR},
      </if>
      <if test="sendToAndroid != null" >
        send_to_android = #{sendToAndroid,jdbcType=INTEGER},
      </if>
      <if test="sendToIos != null" >
        send_to_ios = #{sendToIos,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isForbidden != null" >
        is_forbidden = #{isForbidden,jdbcType=INTEGER},
      </if>
      version = version + 1
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csj.gold.model.PushMessageHistory" >
    update push_message_history
    set android_title = #{androidTitle,jdbcType=VARCHAR},
      ios_title = #{iosTitle,jdbcType=VARCHAR},
      android_contant = #{androidContant,jdbcType=VARCHAR},
      ios_contant = #{iosContant,jdbcType=VARCHAR},
      send_to_android = #{sendToAndroid,jdbcType=INTEGER},
      send_to_ios = #{sendToIos,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=INTEGER},
      is_forbidden = #{isForbidden,jdbcType=INTEGER},
      version = version + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>