<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csj.gold.dao.single.SysAccoutTransactionsMapper" >
  <resultMap id="BaseResultMap" type="com.csj.gold.model.SysAccoutTransactions" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="accout_id" property="accoutId" jdbcType="BIGINT" />
    <result column="transaction_money" property="transactionMoney" jdbcType="DECIMAL" />
    <result column="transaction_swift_no" property="transactionSwiftNo" jdbcType="INTEGER" />
    <result column="transaction_type" property="transactionType" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="is_forbidden" property="isForbidden" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, accout_id, transaction_money, transaction_swift_no, transaction_type, order_number, 
    create_date, update_date, create_user, update_user, is_del, is_forbidden
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_accout_transactions
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_accout_transactions
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.csj.gold.model.SysAccoutTransactions" >
    insert into sys_accout_transactions (id, accout_id, transaction_money, 
      transaction_swift_no, transaction_type, order_number, 
      create_date, update_date, create_user, 
      update_user, is_del, is_forbidden
      )
    values (#{id,jdbcType=BIGINT}, #{accoutId,jdbcType=BIGINT}, #{transactionMoney,jdbcType=DECIMAL}, 
      #{transactionSwiftNo,jdbcType=INTEGER}, #{transactionType,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, 
      #{updateUser,jdbcType=BIGINT}, #{isDel,jdbcType=INTEGER}, #{isForbidden,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.csj.gold.model.SysAccoutTransactions" >
    insert into sys_accout_transactions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accoutId != null" >
        accout_id,
      </if>
      <if test="transactionMoney != null" >
        transaction_money,
      </if>
      <if test="transactionSwiftNo != null" >
        transaction_swift_no,
      </if>
      <if test="transactionType != null" >
        transaction_type,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="isForbidden != null" >
        is_forbidden,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="accoutId != null" >
        #{accoutId,jdbcType=BIGINT},
      </if>
      <if test="transactionMoney != null" >
        #{transactionMoney,jdbcType=DECIMAL},
      </if>
      <if test="transactionSwiftNo != null" >
        #{transactionSwiftNo,jdbcType=INTEGER},
      </if>
      <if test="transactionType != null" >
        #{transactionType,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isForbidden != null" >
        #{isForbidden,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csj.gold.model.SysAccoutTransactions" >
    update sys_accout_transactions
    <set >
      <if test="accoutId != null" >
        accout_id = #{accoutId,jdbcType=BIGINT},
      </if>
      <if test="transactionMoney != null" >
        transaction_money = #{transactionMoney,jdbcType=DECIMAL},
      </if>
      <if test="transactionSwiftNo != null" >
        transaction_swift_no = #{transactionSwiftNo,jdbcType=INTEGER},
      </if>
      <if test="transactionType != null" >
        transaction_type = #{transactionType,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isForbidden != null" >
        is_forbidden = #{isForbidden,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csj.gold.model.SysAccoutTransactions" >
    update sys_accout_transactions
    set accout_id = #{accoutId,jdbcType=BIGINT},
      transaction_money = #{transactionMoney,jdbcType=DECIMAL},
      transaction_swift_no = #{transactionSwiftNo,jdbcType=INTEGER},
      transaction_type = #{transactionType,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_user = #{updateUser,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=INTEGER},
      is_forbidden = #{isForbidden,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>