<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csj.gold.dao.single.SysMobileMenuMapper" >
  <resultMap id="BaseResultMap" type="com.csj.gold.model.SysMobileMenu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_link" property="menuLink" jdbcType="VARCHAR" />
    <result column="menu_pid" property="menuPid" jdbcType="BIGINT" />
    <result column="image_file_id" property="imageFileId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
    <result column="is_forbidden" property="isForbidden" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_name, menu_link, menu_pid, image_file_id, create_date, create_user, update_date, 
    update_user, is_forbidden, is_del, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_mobile_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByParameters" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from sys_mobile_menu
    where 1 = 1
    <if test="parameters!=null">
    <if test="parameters.menuName != null" >
        and menu_name = #{parameters.menuName,jdbcType=VARCHAR},
      </if>
      <if test="parameters.menuLink != null" >
        and menu_link = #{parameters.menuLink,jdbcType=VARCHAR}
      </if>
      <if test="parameters.menuPid != null" >
        and menu_pid = #{parameters.menuPid,jdbcType=BIGINT}
      </if>
      <if test="parameters.imageFileId != null" >
        and image_file_id = #{parameters.imageFileId,jdbcType=BIGINT}
      </if>
      <if test="parameters.createDate != null" >
        and create_date = #{parameters.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="parameters.createUser != null" >
        and create_user = #{parameters.createUser,jdbcType=BIGINT}
      </if>
      <if test="parameters.updateDate != null" >
        and update_date = #{parameters.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="parameters.updateUser != null" >
        and update_user = #{parameters.updateUser,jdbcType=BIGINT}
      </if>
      <if test="parameters.isForbidden != null" >
        and is_forbidden = #{parameters.isForbidden,jdbcType=INTEGER}
      </if>
      <if test="parameters.isDel != null" >
        and is_del = #{parameters.isDel,jdbcType=INTEGER}
      </if>
      <if test="parameters.version != null" >
        and version = #{parameters.version,jdbcType=INTEGER}
      </if>
    </if>
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update sys_mobile_menu
    set is_del = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="forbiddenByPrimaryKey" parameterType="java.lang.Long" >
    update sys_mobile_menu
    set is_forbidden = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.csj.gold.model.SysMobileMenu" >
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into sys_mobile_menu (id, menu_name, menu_link, 
      menu_pid, image_file_id, create_date, 
      create_user, update_date, update_user, 
      is_forbidden, is_del, version
      )
    values (#{id,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, #{menuLink,jdbcType=VARCHAR}, 
      #{menuPid,jdbcType=BIGINT}, #{imageFileId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}, 
      #{isForbidden,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.csj.gold.model.SysMobileMenu" >
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into sys_mobile_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuLink != null" >
        menu_link,
      </if>
      <if test="menuPid != null" >
        menu_pid,
      </if>
      <if test="imageFileId != null" >
        image_file_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="isForbidden != null" >
        is_forbidden,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuLink != null" >
        #{menuLink,jdbcType=VARCHAR},
      </if>
      <if test="menuPid != null" >
        #{menuPid,jdbcType=BIGINT},
      </if>
      <if test="imageFileId != null" >
        #{imageFileId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isForbidden != null" >
        #{isForbidden,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csj.gold.model.SysMobileMenu" >
    update sys_mobile_menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuLink != null" >
        menu_link = #{menuLink,jdbcType=VARCHAR},
      </if>
      <if test="menuPid != null" >
        menu_pid = #{menuPid,jdbcType=BIGINT},
      </if>
      <if test="imageFileId != null" >
        image_file_id = #{imageFileId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isForbidden != null" >
        is_forbidden = #{isForbidden,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csj.gold.model.SysMobileMenu" >
    update sys_mobile_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_link = #{menuLink,jdbcType=VARCHAR},
      menu_pid = #{menuPid,jdbcType=BIGINT},
      image_file_id = #{imageFileId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      is_forbidden = #{isForbidden,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>