<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csj.gold.dao.single.UserAddressMapper" >
  <resultMap id="BaseResultMap" type="com.csj.gold.model.UserAddress" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="is_main" property="isMain" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="is_forbidden" property="isForbidden" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, address, phone, consignee, is_main, is_del, is_forbidden, create_date, 
    create_user, update_date, update_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_address
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByParameters" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from user_address
    where 1 = 1
    <if test="parameters.parameters!=null">
    <if test="parameters.userId != null" >
        and user_id = #{parameters.userId,jdbcType=BIGINT}
      </if>
      <if test="parameters.address != null" >
        and address = #{parameters.address,jdbcType=VARCHAR}
      </if>
      <if test="parameters.phone != null" >
        and phone = #{parameters.phone,jdbcType=VARCHAR}
      </if>
      <if test="parameters.consignee != null" >
        and consignee = #{parameters.consignee,jdbcType=VARCHAR}
      </if>
      <if test="parameters.isMain != null" >
        and is_main = #{parameters.isMain,jdbcType=INTEGER}
      </if>
      <if test="parameters.updateDate != null" >
        and update_date = #{parameters.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="parameters.updateUser != null" >
        and update_user = #{parameters.updateUser,jdbcType=BIGINT}
      </if>
    </if>
  </select>
  <select id="searchByUserId" resultMap="BaseResultMap" parameterType="com.csj.gold.model.UserAddress" >
    select 
    <include refid="Base_Column_List" />
    from user_address
    where is_del  = 0 
    	and is_forbidden  = 0
    	and user_id = #{userId,jdbcType=BIGINT}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
  	update user_address
  	set is_del = 1
  	where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="forbiddenByPrimaryKey" parameterType="java.lang.Long">
  	update user_address
  	set is_forbidden = 1
  	where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="resetMainAddress" parameterType="com.csj.gold.model.UserAddress">
  	update user_address
  	set is_main = 0 
  	where is_del  = 0 
    	and is_forbidden  = 0
    	and is_main = 1
    	and user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="setMainAddress" parameterType="com.csj.gold.model.UserAddress">
  	update user_address
  	set is_main = 1 
  	where is_del  = 0 
    	and is_forbidden  = 0
    	and id = #{id,jdbcType=BIGINT}
  </update>
  
  <insert id="insert" parameterType="com.csj.gold.model.UserAddress" >
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into user_address (id, user_id, address, 
      phone, consignee, is_main, 
      is_del, is_forbidden, create_date, 
      create_user, update_date, update_user
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR}, #{isMain,jdbcType=INTEGER}, 
      #{isDel,jdbcType=INTEGER}, #{isForbidden,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.csj.gold.model.UserAddress" >
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into user_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="consignee != null" >
        consignee,
      </if>
      <if test="isMain != null" >
        is_main,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="isForbidden != null" >
        is_forbidden,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="isMain != null" >
        #{isMain,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isForbidden != null" >
        #{isForbidden,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csj.gold.model.UserAddress" >
    update user_address
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="isMain != null" >
        is_main = #{isMain,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csj.gold.model.UserAddress" >
    update user_address
    set user_id = #{userId,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      consignee = #{consignee,jdbcType=VARCHAR},
      is_main = #{isMain,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>