<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csj.gold.dao.single.UserLoginMapper" >
  <resultMap id="BaseResultMap" type="com.csj.gold.model.UserLogin" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="is_forbidden" property="isForbidden" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_phone, user_pwd, user_id, create_date, create_user, update_date, update_user, 
    is_del, is_forbidden,version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_login
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByParameters" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from user_login
    where 1 = 1
    <if test="parameters!=null">
    <if test="parameters.userPhone != null" >
        and user_phone = #{parameters.userPhone,jdbcType=VARCHAR}
      </if>
      <if test="parameters.userPwd != null" >
        and user_pwd = #{parameters.userPwd,jdbcType=VARCHAR}
      </if>
      <if test="parameters.userId != null" >
        and user_id = #{parameters.userId,jdbcType=BIGINT}
      </if>
      <if test="parameters.createDate != null" >
        and create_date = #{parameters.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="parameters.createUser != null" >
        and create_user = #{parameters.createUser,jdbcType=BIGINT}
      </if>
      <if test="parameters.updateDate != null" >
        and update_date = #{parameters.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="parameters.updateUser != null" >
        and update_user = #{parameters.updateUser,jdbcType=BIGINT}
      </if>
      <if test="parameters.isDel != null" >
        and is_del = #{parameters.isDel,jdbcType=INTEGER}
      </if>
      <if test="parameters.isForbidden != null" >
        and is_forbidden = #{parameters.isForbidden,jdbcType=INTEGER}
      </if>
    </if>
  </select>
  <select id="selectByPhone" resultMap="BaseResultMap" parameterType="com.csj.gold.model.UserLogin" >
    select 
    <include refid="Base_Column_List" />
    from user_login
    where user_phone = #{userPhone,jdbcType=VARCHAR}
    and is_del = #{isDel,jdbcType=INTEGER}
    and is_forbidden = #{isForbidden,jdbcType=INTEGER}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete user_login
    set is_del = 1 , version = version + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="forbiddenByPrimaryKey" parameterType="java.lang.Long" >
    update user_login
    set is_forbidden = 1 , version = version + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.csj.gold.model.UserLogin" >
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into user_login (id, user_phone, user_pwd, 
      user_id, create_date, create_user, 
      update_date, update_user, is_del, 
      is_forbidden,version)
    values (#{id,jdbcType=BIGINT}, #{userPhone,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}, #{isDel,jdbcType=INTEGER}, 
      #{isForbidden,jdbcType=INTEGER},#{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.csj.gold.model.UserLogin" >
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into user_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="isForbidden != null" >
        is_forbidden,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isForbidden != null" >
        #{isForbidden,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csj.gold.model.UserLogin" >
    update user_login
    <set >
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isForbidden != null" >
        is_forbidden = #{isForbidden,jdbcType=INTEGER},
      </if>
      version = version + 1
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csj.gold.model.UserLogin" >
    update user_login
    set user_phone = #{userPhone,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=INTEGER},
      is_forbidden = #{isForbidden,jdbcType=INTEGER},
      version = version + 1
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>